.navbar {
    background-color: unset;
    transition: background-color 200ms linear;
}

.navbar.scrolled {
    background-color: #333 !important;
    transition: background-color 200ms linear;
}

/****992 er bootstrap lg breakpoint****/
@media screen and (min-width: 992px) {
    .navbar-dark {
        background-color: unset;
    }

}

@media screen and (max-width: 992px) {
    .navbar-dark {
        background-color: #333;
    }

}